// HOME PAGE STYLES
header.index-page {
    background-image: url(../assets/home-image-1.jpg);
    background-position: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.nav-bar ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.home-header {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 350px;
    z-index: 1;
}

.header-image {
    position: absolute;
    top: 200px;
    right: 0;
    z-index: -0;
}

// BLOG PAGE STYLES
.blog-page nav,
.contact-page nav {
    background-color: black;
}

header.blog-page {
    background-image: url(../assets/blog-header-1.jpg);
    background-position: cover;
    height: 1000px;
    background-repeat: no-repeat;
}

.blog-header {
    margin-top: 340px;
    margin-left: 85px;
}

// CONTACT PAGE STYLES
header.contact-page {
    background-image: url(../assets/contact-header-1.jpg);
    background-position: cover;
    height: 100%;
    background-repeat: no-repeat;
}

.contact-header {
    width: 250px;
    margin-top: 330px;
    margin-left: 85px;
    padding-bottom: 30px;
}