// FONTS
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
@import "./variables";

html {
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: $off-black;
}

.nav-bar ul .logo {
    color: $white;
    font-size: 4rem;
    text-transform: capitalize; 
}

.nav-bar ul a {
    color: $white;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.nav-bar ul a:hover {
    text-decoration: underline 2px $sunny-yellow;
}

.yellow-link {
    color: $sunny-yellow;
}

.home-header {
    font-size: 16rem;
    color: $white;
    span {
    color: $sunny-yellow;
    text-transform: lowercase;
    }
}

.index-page {
    h2 {
    font-size: 5.6rem;
    letter-spacing: 1.3px;
    text-align: center;
    }
    button {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        color: $white;
    }
}

.about-section p {
    font-family: 'Roboto', sans-serif;
    line-height: 3.2rem;
    text-align: center;
}

.blog-header,
.contact-header {
    font-size: 6rem;
    color: $sunny-yellow;
}

.blogs,
.additional-info-text {
    h3 {
    font-size: 3.2rem;
    letter-spacing: 1px;
    }
    p {
        font-family: 'Roboto', sans-serif;
        line-height: 32px;
    }
}

.founder-container {
    h4 {
        font-size: 4.2rem;
        letter-spacing: 1px;
    }
    p {
        font-family: 'Roboto', sans-serif;
        line-height: 32px;
    }
}

.blog-post {
    h3 {
        font-size: 4.3rem;
        letter-spacing: 1.3px;
    }
    span,
    p {
        font-family: 'Roboto', sans-serif;
        line-height: 32px;
    }
    span {
        color: $forest-green;
        a {
            color: $forest-green;
        }
        a:hover {
            color: $green;
        }
    }
}

.blog-page aside,
.blog-page .blog-comments {
    h2 {
        line-height: 32px;
        font-weight: 700;
        font-size: 2rem;
    }
    p {
        font-family: 'Roboto', sans-serif;
        line-height: 32px;
    }
    a {
        color: $forest-green;
    }
    a:hover {
        color: $green;
    }
}

.blog-comments {
    h4 {
        font-size: 3rem;
    }
    h2 {
        color: $forest-green;
    }
}

form {
    input,
    textarea {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 32px;
    }
    button {
        font-family: 'Josefin Sans', sans-serif;
        color: $white;
    }
}






