// FONTS
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
@import "./variables";

html {
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: $off-black;
}

.nav-bar ul .logo {
    color: $white;
    font-size: 4rem;
    text-transform: capitalize; 
}

.nav-bar ul a {
    color: $white;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.nav-bar ul a:hover {
    text-decoration: underline 2px $sunny-yellow;
}

.yellow-link {
    color: $sunny-yellow;
}

.home-header {
    font-size: 16rem;
    color: $white;
}

.home-header span {
    color: $sunny-yellow;
    text-transform: lowercase;
}

.blog-header,
.contact-header {
    font-size: 6rem;
    color: $sunny-yellow;
}


