@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
}

.nav-bar ul .logo {
  color: #FFFFFF;
  font-size: 4rem;
  text-transform: capitalize;
}

.nav-bar ul a {
  color: #FFFFFF;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.nav-bar ul a:hover {
  -webkit-text-decoration: underline 2px #F8E71C;
          text-decoration: underline 2px #F8E71C;
}

.yellow-link {
  color: #F8E71C;
}

.home-header {
  font-size: 16rem;
  color: #FFFFFF;
}

.home-header span {
  color: #F8E71C;
  text-transform: lowercase;
}

.index-page h2 {
  font-size: 5.6rem;
  letter-spacing: 1.3px;
  text-align: center;
}

.index-page button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

.about-section p {
  font-family: 'Roboto', sans-serif;
  line-height: 3.2rem;
  text-align: center;
}

.blog-header,
.contact-header {
  font-size: 6rem;
  color: #F8E71C;
}

.blogs h3,
.additional-info-text h3 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.blogs p,
.additional-info-text p {
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
}

.founder-container h4 {
  font-size: 4.2rem;
  letter-spacing: 1px;
}

.founder-container p {
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
}

.blog-post h3 {
  font-size: 4.3rem;
  letter-spacing: 1.3px;
}

.blog-post span,
.blog-post p {
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
}

.blog-post span {
  color: #074115;
}

.blog-post span a {
  color: #074115;
}

.blog-post span a:hover {
  color: #0E902D;
}

.blog-page aside h2,
.blog-page .blog-comments h2 {
  line-height: 32px;
  font-weight: 700;
  font-size: 2rem;
}

.blog-page aside p,
.blog-page .blog-comments p {
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
}

.blog-page aside a,
.blog-page .blog-comments a {
  color: #074115;
}

.blog-page aside a:hover,
.blog-page .blog-comments a:hover {
  color: #0E902D;
}

.aside-text-content li {
  font-family: 'Roboto', sans-serif;
}

.blog-comments h4 {
  font-size: 3rem;
}

.blog-comments h2 {
  color: #074115;
}

form input,
form textarea {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 32px;
}

form button {
  font-family: 'Josefin Sans', sans-serif;
  color: #FFFFFF;
}

.social-media a {
  color: #0E902D;
}

.social-media a:hover {
  color: #074115;
}

.address {
  font-family: 'Roboto', sans-serif;
  line-height: 35px;
}

.contact-main form textarea,
.contact-main form input {
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
}

header.index-page {
  background-image: url(../assets/home-image-1.jpg);
  background-position: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.nav-bar ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.home-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
  margin-left: 350px;
  z-index: 1;
}

.header-image {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: -0;
}

.blog-page nav,
.contact-page nav {
  background-color: black;
}

header.blog-page {
  background-image: url(../assets/blog-header-1.jpg);
  background-position: cover;
  height: 1000px;
  background-repeat: no-repeat;
}

.blog-header {
  margin-top: 340px;
  margin-left: 85px;
}

header.contact-page {
  background-image: url(../assets/contact-header-1.jpg);
  background-position: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.contact-header {
  width: 250px;
  margin-top: 330px;
  margin-left: 85px;
  padding-bottom: 30px;
}

.index-page .about-section {
  background-color: #F0EFED;
  padding: 200px 0 150px;
}

.about-section p {
  margin: 10px 180px;
}

.index-page button {
  background-color: #0E902D;
  border: none;
  padding: 10px 20px;
}

.about-section button {
  margin: 10px 540px;
}

.index-page button:hover {
  background-color: #074115;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs div {
  width: 45%;
}

.blogs h3 {
  padding-bottom: 10px;
}

.blogs p {
  width: 80%;
}

.blogs button {
  margin-top: 30px;
}

.unique-plants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -70px;
  margin-left: -80px;
}

.unique-plants img {
  margin: 50px 0;
  -webkit-box-shadow: 15px 15px #F8E71C;
          box-shadow: 15px 15px #F8E71C;
}

.unique-plants p {
  text-align: right;
}

.upcoming-workshops {
  margin: 75px -80px -80px 0;
}

.upcoming-workshops img {
  margin: 50px 0;
  -webkit-box-shadow: -15px -15px #F8E71C;
          box-shadow: -15px -15px #F8E71C;
}

.additional-info {
  background-color: #F0EFED;
  padding: 75px 0 60px;
}

.additional-info .additional-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional-info .fas {
  padding-top: 10px;
  height: 50px;
  width: 50px;
  background-color: #F8E71C;
  border-radius: 50%;
  text-align: center;
}

.additional-info p {
  padding: 15px 0px 30px 50px;
}

.about-the-founder {
  background-color: #F0EFED;
  padding: 75px 0;
}

.founder-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.founder-container .text-container {
  width: 50%;
}

.founder-container h4 {
  padding-bottom: 20px;
}

.founder-container img {
  -webkit-box-shadow: 15px 15px #F8E71C;
          box-shadow: 15px 15px #F8E71C;
}

.founder-container button {
  margin-top: 30px;
}

.gallery {
  padding: 75px 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blog-page {
  background-color: #F0EFED;
}

.main-blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -400px;
}

.main-blog-content aside img {
  width: 75%;
}

.main-blog-content aside .aside-text-content {
  margin: -375px 0 0 85px;
  padding: 375px 10px 0 30px;
  background-color: #FFFFFF;
  width: 470px;
  height: 775px;
}

.main-blog-content aside .aside-text-content h2 {
  padding: 20px 0 15px;
}

.main-blog-content aside .aside-text-content li {
  padding: 5px 0;
}

.main-blog-content aside .aside-text-content li::before {
  content: "•";
  color: #0E902D;
  padding-right: 10px;
}

.main-blog-content article {
  margin-top: -300px;
  width: 100%;
}

.main-blog-content article .blog-post {
  -webkit-box-shadow: -5px 5px #F8E71C;
          box-shadow: -5px 5px #F8E71C;
}

.main-blog-content article .main-blog-image {
  -webkit-box-shadow: -20px 20px #F8E71C;
          box-shadow: -20px 20px #F8E71C;
}

article .blog-post {
  padding: 50px 0 30px 30px;
  width: 85%;
  margin-left: -15px;
}

article .blog-post .blog-content {
  padding-top: 30px;
}

article .blog-post p {
  padding: 10px 0;
}

.blog-comments {
  padding-top: 50px;
}

.blog-comments h4 {
  padding-bottom: 30px;
}

.jeremy-comment,
.julia-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  padding-right: 85px;
}

.jeremy-comment img,
.julia-comment img {
  width: 60%;
  height: 60%;
  padding-right: 30px;
}

article form {
  padding-bottom: 75px;
}

article form input {
  background-color: #F0EFED;
  border: 1px solid #F0EFED;
  border-bottom: 1px solid #0E902D;
  width: 38%;
  padding: 15px 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

article form textarea {
  background-color: #F0EFED;
  border: 1px solid #0E902D;
  margin: 20px 0;
  width: 80%;
  height: 200px;
  padding: 20px 30px;
}

article form button {
  background-color: #0E902D;
  border: none;
  padding: 10px 0;
  width: 80%;
}

article form button:hover {
  background-color: #074115;
}

.contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F0EFED;
  padding-bottom: 75px;
}

.contact-main form {
  background-color: #FFFFFF;
  -webkit-box-shadow: -15px 15px #F8E71C;
          box-shadow: -15px 15px #F8E71C;
  padding: 75px 0 50px 50px;
  margin-top: -160px;
  margin-right: 80px;
}

.contact-main form input {
  border: 1px solid #FFFFFF;
  border-bottom: 1px solid #0E902D;
  width: 320px;
  padding: 15px 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.contact-main form textarea {
  border: 1px solid #0E902D;
  margin: 20px 50px 20px 0;
  width: 680px;
  height: 200px;
  padding: 20px 30px;
}

.contact-main form button {
  background-color: #0E902D;
  border: none;
  padding: 10px 0;
  width: 680px;
}

.contact-main form button:hover {
  background-color: #074115;
}

.contact-main aside {
  margin: 90px;
}

.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media ul li {
  padding: 15px 15px 20px 0;
}

.address {
  padding: 20px 0;
}

footer {
  background-color: #2C2C2C;
  padding: 5px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #F8E71C;
}

body,
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
